<h1>スケジュール一覧</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<%= flash[:success] %>

<table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>更新日時</th>
            <th>確認</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    
        <% if @tasks.count > 0 %>
            <% @tasks.each do |task| %>
                <tr>
                    <td><%= task.id %></td>
                    <td><%= task.title %></td>
                    <td><%= task.start.to_s(:datetime_jp) %></td>
                    <td><%= task.finish.to_s(:datetime_jp) %></td>
                    <td><% if task.allday %><strong>◯</strong><% end %></td>
                    <td><%= task.updated_at.to_s(:datetime_jp_detail) %></td>
                    <td><%= link_to "確認", task %></td>
                    <td><%= link_to "編集", [:edit, task] %></td>
                    <td><%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
                </tr>
            <% end %>
        <% else %>
            <td colspan="9">現在登録しているスケジュールはありません</td>
        <% end %>
</table>

<%= link_to "スケジュール新規登録", new_task_path %>